.menu-category{
  margin-top: 10%;
  margin-left: 5%;
  font-size: large;
}

.search-box {
  margin-top: 15%;
  margin-left: 5%;
  width: 88%;
  border-radius: 15px;
  border: thin solid #8c8c8c;
}

.category-items{
  margin-left: 8%;
}

.header-icon {
  font-size: 180%;
  color: whitesmoke;
  vertical-align: middle;
}

.place-name {
  font-size: 180%;
  text-align: center;
  color: whitesmoke;
}

.country-name {
  font-size: 120%;
  text-align: center;
  color: whitesmoke;
}

.icon {
  width: 28%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.time-stamp {
  margin-top: 2%;
  text-align: center;
  color: whitesmoke;
  font-size: 150%;
}

ion-menu {
  --ion-background-color: rgb(53,53,53,0.8);
  --ion-text-color: var(--ion-color-primary-contrast);

  ion-toolbar {
    --background: transparent;
  }

  ion-list {
    --background: transparent;

    ion-item {
      --background: transparent;
    --background-activated: transparent;
    --background-focused: transparent;
    }
  }

  ion-item{
    --background: transparent;
    --background-activated: transparent;
    --background-focused: transparent;
  }
}

ion-content {
  --background: transparent;
}